---
# dark variant of custom css adjustments
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin_dark | default: 'dark' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "style.css";
@import "bulma.min.css";
@import "bulma-carousel.min.css";
@import "bulma-slider.min.css";
@import "fontawesome.all.min.css";
@import "/assets://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css";
@import "slider-component.css";
@import "index.css";

// make text font size smaller
.page__content {
  p,
  li,
  dl {
    font-size: 0.9em;
  }
}

// except for the toc on the right
.toc {
  p,
  li,
  dl {
    font-size: 1em;
  }
}

// avoid flashbomb image in dark mode
// https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/#aa-dark-mode-images
img {
  filter: brightness(.8) contrast(1.2);
}

.publication-block {
    .publication-title {
        width: fit-content;
        margin: 0 !important;
        font-weight: 600;
        font-size: 90% !important;

        a { color: #FFF }
    }

    .publication-venue {
        color: #555; // TODO:
        width: fit-content;
        margin-top: 0;
    }

    .publication-venue-emph {
        font-style: normal;
        font-size: 80%;
        font-weight: 500;
        color: firebrick;
        padding-left: 0.25em;
    }

    .publication-awards {
        color: firebrick;
        width: fit-content;
        font-weight: bolder;
    }

    .publication-authors {
        .author-me {
            color: #FFF;
            font-weight: 600;
            font-size: 80%;
        }
        
        a {
            color: #FFF !important;
            font-size: 80%;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .publication-image {
        border-radius: 2%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        font-size: 0;

        img {
            width: 100%;
        }
    }

    .publication-mousecell {
        position: relative;
        font-size: 0;
    }

    .publication-mousecell {
        width: 100%;
        height: 100%;
        display: inline-block;
        overflow: hidden;

        video {
            display: none;
        }
    }

    .publication-description {
        color: #FFF;
        margin: 0.5em 0;
    }

    .publication-links {
        margin: 0 !important;
        margin-top: 0.5em !important;
    }
}
