---
layout: archive
classes: wide
---

{{ content }}

<p>
  I am a PhD student in the Computer Vision Group at the TU Munich, supervised
  by Prof. Daniel Cremers.
  <br />
  My research interests mainly lie in the area of 3D shape matching, while I am
  currently mainly focusing on partial shapes.
  <br />
  I received my bachelor's degree at Ludwig Maximilans University (LMU) and my
  master's degree at Technical University of Munich (TUM), both in computer
  science.
</p>

<div class="hr">
  <div class="container">
    <hr />
  </div>
</div>

<h2 class="title is-3">News</h2>
<div class="content">
  {% for news in site.data.news %}
  <b>{{ news.date }}</b>: {{ news.description | markdownify | remove: '
  <p>' | remove: '</p>
  ' }}
  <div class="hr">
    <hr />
  </div>
  {% endfor %}
</div>
